@import url(main.css);

@media (max-width: 500px) {
  
  .home__a {
    font-size: 13px;
  }

  .sun {
    width: 17px;
    height: 17px;
  }

  .toggle-image {
    width: 17px;
    height: 17px;
  }

  .apresentacao__nome {
    font-size: 20px;
    padding-bottom: 5px;
  }

  .apresentacao__title {
    font-size: 27px;
    padding-bottom: 25px;
  }

  .imagem {
    width: 25px;
    height: 25px;
  }

    .Sobre__apresentacao {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      width: 200px;
      background:
        radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0),
        radial-gradient(#000 68%, transparent 0),
        linear-gradient(to top right, var(--cor-gradiente1) 0%, var(--cor-gradiente2) 100%);
      border-radius: 50%;
  
    }
  
    .Sobre__apresentacao img {
      border-radius: 50%;
      width: 100%;
    }

}
