@import url(main.css);

@media (max-width: 500px) {
  
  .home__a {
    font-size: 13px;
  }

  .sun {
    width: 17px;
    height: 17px;
  }

  .toggle-image {
    width: 17px;
    height: 17px;
  }

  .apresentacao__nome {
    font-size: 20px;
    padding-bottom: 5px;
  }

  .apresentacao__title {
    font-size: 27px;
    padding-bottom: 25px;
  }

  .imagem {
    width: 25px;
    height: 25px;
  }

    .secao__about {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      margin: auto;
      width: 80%;
  
    }
  
    .Sobre__apresentacao img {
      border-radius: 50%;
      width: 100%;
    }

    

}


@media (max-width: 346px) {

  .Sobre__logos {

    width: 25px;
    height: 25px;
  }

  .Sobre__apresentacao {

    width: 200px;
  }

  

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  
}