@import url(main.css);
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400&family=Red+Hat+Display:ital@1&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor-fundo: #e6e5e6;
    --cor-fundo2: #e6e5e6;
    --cor-texto: #1f0001;
    --cor-linha: #2DA6ED;
    --cor-gradiente1: #125CA3;
    --cor-gradiente2: #9ADCF3;
    --filtro-imagem: brightness(0) saturate(100%) invert(48%) sepia(100%) saturate(364%) hue-rotate(158deg) brightness(89%) contrast(99%);
    --filtro-imagem-hover:brightness(0) saturate(100%) invert(73%) sepia(57%) saturate(2654%) hue-rotate(211deg) brightness(92%) contrast(83%);
}

.dark-mode {
    
    --cor-texto: #fafafa;
    --cor-fundo: black;
    --cor-fundo2: #1f0001;
    --cor-linha: #ff0000;
    --cor-gradiente1: #ffa500;
    --cor-gradiente2: #ff1493;
    --filtro-imagem: brightness(0) saturate(100%) invert(9%) sepia(57%) saturate(7259%) hue-rotate(358deg) brightness(89%) contrast(110%);
    --filtro-imagem-hover: brightness(0) saturate(100%) invert(92%) sepia(98%) saturate(191%) hue-rotate(241deg) brightness(109%) contrast(81%);
    --filtro-project: brightness(0) saturate(100%) invert(82%) sepia(100%) saturate(2%) hue-rotate(86deg) brightness(109%) contrast(101%);
    
}